<div class="container">
  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= @question.gravatar %>">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @question.email %> has asked...</h4>
        <%= @question.body %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">

      <div>
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
      </div>

      <%= render 'home/new_answer' %>

        <%= @question.answers do |answer| %>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="<%= answer.gravatar %>">
              </a>
            </div>
          <div class="media-body">
            <h4 class="media-heading"><%= answer.email %> has answered...</h4>
            <%= answer.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
